################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExcelUpdater
/ExcelUpdater/obj
